<div class="user-profile">
    <div class="header">
        <%= render 'shared/user_card', user: @user %>
    </div>

    <div class="user-bio">
        <h3>Bio</h3>
        <p><%= @user.bio %></p>
    </div>

    <div class="recent-posts">
        <h3 class="rp">Recent Posts</h3>
        <% if @user.recent_posts.present? %>
            <% @user.recent_posts.each do |post| %>
                <%= link_to user_post_path(user_id: post.author.id, id: post.id), class: 'post-item' do %>
                    <%= render 'shared/post_card', post: post %>
                <% end %>
            <% end %>
        <% end %>
    </div>

    <div class="all-posts">
            <%= link_to "See All Posts", user_posts_path(user_id: @user.id), class: 'btn-post'%>
    </div>
</div>
