<div class="post-details">
    <div class="log-out-cont">
            <%if can? :destroy, @post%>
                <%= button_to 'Delete', user_post_path(user_id: @post.author_id, id: @post.id), method: :delete, data: {confirm: 'Are you sure you want to delete this post ?'}, class: 'log-out-button' %>
            <%end%>
    </div><br/>

    <div class="post-info">
        <div class="post-header">
            <h3>
                <%= @post.title %>
                by:
                <%= @post.author.name %>
            </h3>
            <div class="post-int">
                <p>Comments:
                    <%= @post.comment_counter || 0 %>
                </p>
                <p>Likes:
                    <%= @post.likes_counter || 0 %>
                </p>
            </div>
        </div>
        <div class="post-text">
            <p>
                <%= @post.text %>
            </p>
        </div>
    </div>
    <div class="comments-container">
        <div class="comments">
            <% if @post.comments.empty? %>
            <p>no comments</p>
            <% end %>
            <% @post.recent_comments.each do |comment| %>
            <p>
                <%= comment.author.name %>: <%= comment.text %>
            </p>
            <div class="log-out-cont">
                <% if can? :destroy, comment %>
                    <%= button_to 'Delete', user_post_comment_path(@post.author, @post, comment), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, class: 'log-out-button' %>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>

    <div class="btn-container">
        <%= link_to 'Comment', new_user_post_comment_path(@user, @post), class: 'btn' %>
        <%= form_for(@post.likes.new, url: user_post_likes_path(@post.author, @post)) do |f| %>
            <%= f.hidden_field :author_id, value: current_user.id %>
            <%= button_to like_button_text(@post, @user), user_post_likes_path(@user, @post), method: :post, class: 'btn' %>
        <% end %>
    </div>
</div>