<div id="<%= dom_id create_user %>">
  <p>
    <strong>Name:</strong>
    <%= create_user.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= create_user.photo %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= create_user.bio %>
  </p>

  <p>
    <strong>Post counter:</strong>
    <%= create_user.post_counter %>
  </p>

</div>
